aside {
	vertical-align: top;
}

aside .profile {
	padding-top: 10px;
	padding-bottom: 10px;
}

.profile-text {
	text-align: center;
}

aside nav {
	width: 100%;
	text-align: center;
}

aside nav > .btn {
	margin-bottom: 10px;
}

@media only screen
and (min-width: 970px) {
	aside {
		width: 200px;
		padding-right: 30px;
	}
}

@media only screen
and (min-width: 750px) and (max-width: 969px) {
	aside {
		width: 200px;
		padding-right: 30px;
	}
}

@media only screen
and (max-width: 749px) {
	aside {
		display: block;
		width: 100%;
	}
}/* /MEDIA QUERY */
