<article ng-controller="DashboardController as DashboardCtrl">
	<section ng-repeat="section in DashboardCtrl.contents">
		<header class="page-header"><h2>{{ section.type }}</h2></header>
		<section ng-repeat="class in section.classes" class="class-section">
			<h3>{{ class.name }}</h3>
			{{ class.school }}<br>
			{{ class.startDate }} to {{ class.endDate }}<br>
			<a>URL</a>, <a>Group Code</a>
		</section>
	</section>
	
	<section>
		<header class="page-header"><h2>기타 Dashboard</h2></header>
		<section class="class-section">
			<h3>적절한 그래프</h3>
			<img class="thumbnail" src="images/no-graph.jpg">
		</section>
		<section class="class-section">
			<h3>적절한 도표</h3>
			<img class="thumbnail" src="images/no-chart.jpg">
		</section>
	</section>
</article>
