aside {
	display: table-cell;
	vertical-align: top;
	z-index: 100;
}

aside .profile {
	padding-top: 10px;
	padding-bottom: 10px;
}

aside .profile img {
	width: 100%;
	height: auto;
}

.profile-text {
	text-align: center;
}

aside nav {
	width: 100%;
	text-align: center;
}

aside nav > .btn {
	width: 150px;
	margin-bottom: 10px;
}

@media only screen
and (min-width: 970px) {
	aside {
		width: 200px;
		padding-right: 30px;
	}
}

@media only screen
and (min-width: 750px) and (max-width: 969px) {
	aside {
		width: 200px;
		padding-right: 30px;
	}
}

@media only screen
and (max-width: 749px) {
	.container aside {
		display: block;
		width: 0px;
	}
	
	aside .sm {
		position: fixed;
		top: 50px;
		bottom: 0px;
		left: 100%;
		width: 260px;
		padding: 0px 20px;
		background-color: #eee;
		border-left: 2px solid #ddd;
		transition: all .3s ease-in-out;
	}
}/* /MEDIA QUERY */
