.article {
	vertical-align: top;
	padding: 0px 20px;
}

.article > * {
	display: block;
}

.article-item {
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	padding: 0px 10px;
	margin-bottom: 15px;
}

.article-item > header {
	padding: 10px 0px;
	border-bottom: 1px solid #ddd;
}

.article-item-type {
	font-size: 13px;
}

.article-write-box {
	width: 100%;
	min-height: 60px;
	padding: 10px 10px 0px 10px;
	line-height: 1.23;
	margin-top: 10px;
	word-wrap: break-word;
	resize: none;
	overflow: hidden;
}

.article-nav {
	border-top: 1px solid #e7e7e7;
	padding: 10px 0px;
	text-align: right;
}

.article-item-info {
	margin: 12px 0px;
}

.article-item-info > * {
	vertical-align: middle;
}

.article-item-author-img {
	top: 0px;
	width: 45px;
	height: 45px;
	padding-right: 10px;
}

.article-item-author-img img {
	height: 100%;
}

.article-item-author {
	font-weight: bold;
}

.article-item-datetime {
	color: #999;
}

.article-item-contents {
	font-size: 16px;
}

.article-item > .article-comment {
	margin: 10px 0px;
}

@media only screen
and (min-width: 970px) {

}

@media only screen
and (min-width: 750px) and (max-width: 969px) {

}

@media only screen
and (max-width: 749px) {

}/* /MEDIA QUERY */

