
@media only screen
and (min-width: 970px) {
	.aside-main {
		width: 170px;
	}
}

@media only screen
and (min-width: 750px) and (max-width: 969px) {
	.aside-main {
		width: 170px;
	}
}

@media only screen
and (max-width: 749px) {
	.container .aside-main {
		display: block;
		width: 0px;
	}
	
	.aside-main .sm.table {
		position: fixed;
		top: 50px;
		bottom: 0px;
		left: 100%;
		width: 260px;
		padding: 0px 20px;
		background-color: #eee;
		border-left: 2px solid #ddd;
		transition: all .3s ease-in-out;
	}
	
	.aside-main .aside-etc .sm {
		display: block;
		width: 100%;
	}
}/* /MEDIA QUERY */
